@keyframes rotateAnimation {
    from {
        transform: rotate(1turn);
    }
    to {
        transform: rotate(0);
    }
}
body {
    display: flex;
    background-image: url("assets/space_nasa.webp");
    background-size: cover;
}
.icon {
    margin: auto;
    width: 50px;
    height: 50px;
    animation: rotateAnimation 5s infinite;
}